<nav class="md-nav md-nav--primary" data-md-level="0">
  <label class="md-nav__title md-nav__title--site" for="__drawer">
    <a href="{{ config.site_url | default(nav.homepage.url, true) | url }}" title="{{ config.site_name }}" class="md-nav__button md-logo">
      {% if config.theme.logo.icon %}
        <i class="md-icon">{{ config.theme.logo.icon }}</i>
      {% else %}
        <img src="{{ config.theme.logo | url }}" width="48" height="48">
      {% endif %}
    </a>
    {{ config.site_name }}
  </label>
  {% if config.repo_url %}
    <div class="md-nav__source">
      {% include "partials/source.html" %}
    </div>
  {% endif %}
  <ul class="md-nav__list" data-md-scrollfix>
    {% for nav_item in nav %}
      {% set path = "nav-" + loop.index | string %}
      {% set level = 1 %}
      {% include "partials/nav-item.html" %}
    {% endfor %}
    <a href="http://www.cs.tsukuba.ac.jp/~yoshiki/HEART/" title="HEART-History" class="md-nav__link">HEART-History</a>


    <div style="padding-top: 40px; padding-bottom: 40px; font-weight: bold; text-align: center;">We kindly acknowledge financial and organizational support by:</div>

    <img src="/img/sfb901.jpg" width="180" style="padding-bottom: 30px; padding-left: 20px;">

    <img src="/img/upb-logo.png" width="180", style="padding-left: 20px; padding-bottom: 30px;">

    <img src="/img/pc2-logo-color.png" width="180", style="padding-left: 20px;">


  </ul>
</nav>
